@import url("https://fonts.googleapis.com/css?family=Nunito");
.table-responsive tbody tr .botao {
  display: flex;
  width: 124px;
}
.table-responsive tbody tr .botao a {
  margin-left: 5px;
}

/*# sourceMappingURL=main.css.map */
