// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';



.table-responsive{
    tbody{
        tr{
            .botao{
                display: flex;
                width: 124px;
                a{
                    margin-left: 5px;
                }
            }
        }
        
    }      
}